@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 15px;
}
 
/* Track */

 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #065f46;
    border-radius: 5px;
  
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fcd34d
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/karmatic-arcade');
@font-face {
    font-family: "game";
    src: url(/GamePlayed-vYL7.ttf);
}
@layer components {
    .navButton {
        @apply px-4 py-2 border border-transparent rounded-full uppercase text-sm font-semibold tracking-widest text-emerald-800 transition ease-in-out delay-150 bg-transparent hover:-translate-y-1 hover:scale-110 hover:bg-amber-300 duration-300  mx-2
    }

    .socials {
        @apply hover:bg-amber-300 hover:rounded-lg 
    }

    .headings {
       @apply absolute top-24 uppercase tracking-[20px] text-orange-500 font-medium text-2xl font-arcade animate-bounce
    }

    .contact {
        @apply placeholder-stone-500 outline-none rounded-lg px-6 py-4 text-orange-500 transition-all  border focus:border-amber-300 focus:text-orange-300 hover:border-amber-300
    }
   
}


